asgiref==3.8.1
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
crypto==1.4.1
Django==5.2.8
django-browser-reload==1.13.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
Flask==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
Naked==0.1.32
packaging==25.0
Pillow==10.1.0
pycryptodome==3.23.0
PyJWT==2.10.1
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
shellescape==3.8.1
sqlparse==0.5.3
urllib3==2.5.0
Werkzeug==3.1.3